@font-face {
    font-family: 'MrDafoe-Regular';
    src: url('./MrDafoe-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}
body {
    background-image: url('./images/ivan-torres-MQUqbmszGGM-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    text-align: -webkit-center;
    text-align: -moz-center;
}

#header-container {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12em;
    padding: .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header {
    font-size: 6em;
    color: white;
    font-family: 'MrDafoe-Regular';
}

#tab-container {
    display: flex;
    color: white;
}

.tab {
    padding: 8px;
    font-size: 1.5em;
}

.tab:hover {
    color: rgb(163, 162, 162);
}

.tab:active {
    color: white;
}

#tab-box-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

#home-container, #menu-container, #contact-container {
    margin-top: 14.5em;
    border: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#menu-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

#contact-container {
    display: flex;
    flex-direction: column;
}

#pizza-box, #italian-box {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

#divider {
    height: 400px;
    background-color: white;
    width: 5px;
    margin: 50px 0px;
}

#sandwich-image, #pasta-image {
    height: 250px;
    width: 250px;
}

.menu-btn {
    width: fit-content;
    align-self: center;
    margin-top: 45px;
    padding: 10px;
}

.tagline-top {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: -1em;
}

.tagline-middle {
    font-size: 1.6em;
    text-align: center;
}

.tagline-bottom {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: -1em;
}

#home-image {
    height: 65%;
    width: 40%;
}

#contact-message{
    font-size: 3.6em;
    padding: 25px;
}

#contact-image {
    height: 45%;
    width: 45%;
    padding-left: 30%;
}

#address {
    font-size: 1.6em;
    padding: 10px;
}

#phone {
    font-size: 1em;
    padding: 10px;
}

#footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.5);;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
  }

  #footer-text {
      padding-top: 15px;
  }